<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Programming Model Renderer</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <h1>Linear Programming Model</h1>

    <h2>Rendered Model:</h2>
    <div id="output">
        <p>
        \[
        {{ lp_model_latex | safe }}
        \]
        </p>
    </div>
</body>
</html>

